:root {
  --light-blue: #d4ddee;
  --footer-blue: #bccde9;
  --text-pink: #ba1b6d;
  --text-link: #1137b4;
  --light-purple: #7d4ea8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
span {
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
